[submodule "comments/comments/common"]
	path = comments/comments/common
	url = https://github.com/N8Brooks/evergreen
[submodule "submissions/common"]
	path = submissions/common
	url = https://github.com/N8Brooks/evergreen_common
[submodule "evergreen_common"]
	path = evergreen_common
	url = https://github.com/N8Brooks/evergreen_common
[submodule "common"]
	path = common
	url = https://github.com/N8Brooks/evergreen_common
[submodule "comments/common"]
	path = comments/common
	url = https://github.com/N8Brooks/evergreen_common
[submodule "topics/common"]
	path = topics/common
	url = https://github.com/N8Brooks/evergreen_common
[submodule "users/common"]
	path = users/common
	url = https://github.com/N8Brooks/evergreen_common
